{% extends 'base_partners.html' %}
{% load staticfiles %}
{% load staticfiles i18n %}
{% block content %}
<div class="pusher">

<div class="ui hidden divider"></div>
<div class="ui hidden divider"></div>
<div class="ui hidden divider"></div>
    <h1 class="ui center aligned header">{% trans 'Gold Partners' %}</h1>
<div class="ui grid">
</div>
<div class="ui hidden divider"></div>
<div class="ui divider"></div>

<h1 class="ui center aligned header">{% trans 'Silver Partners' %}</h1>
<div class="ui grid">
</div>
<div class="ui hidden divider"></div>
<div class="ui divider"></div>

<h1 class="ui center aligned header">{% trans 'Bronze Partners' %}</h1>
<div class="ui grid">
</div>
<div class="ui hidden divider">
</div>
{% endblock %}
