
<!DOCTYPE html>
{% load staticfiles i18n %}

<html>

<head>
    <meta charset="UTF-8">
    <title>
        {% block title %} {% trans "club CEDILLE - Free software" %} {% endblock %}
    </title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.1/semantic.min.css" rel="stylesheet">
    {% block extrahead %}{% endblock %}
</head>
<body>

  <div class="ui massive inverted top fixed menu">
    <div class="ui container">
      <a href="/" class="item">{% trans 'Home' %}</a>
      <a href="{% url 'projects:project_list' %}" class="item">{% trans 'Project' %}</a>
      <a href="{% url 'member:member_list' %}" class="item">{% trans 'Member' %}</a>
      <a href="{% url 'partners:partner_list' %}" class="item">{% trans 'Partners' %}</a>
    </div>
  </div>

 {% block content %}{% endblock %}
 <script src="{% static 'jquery/jquery-2.2.2.min.js' %}" type="application/javascript"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.1/semantic.min.js" type="application/javascript"></script>
</body>



{% block extrajs %}{% endblock %}
